JWT_PRIVATE_KEY=super-secret-jwt-key-change-in-prod
JWT_PUBLIC_KEY=public-jwt-key-change-in-prod

AUTH_DB_USER=authuser
AUTH_DB_PASSWORD=authpass
AUTH_DB_NAME=authdb

CART_DB_USER=cartuser
CART_DB_PASSWORD=cartpass
CART_DB_NAME=cartdb